<app-add-todo></app-add-todo>

<ng-container *ngIf="todos$ | async as todos">
  <div *ngIf="todos.length" class="todos-container">
    <div class="toolbar">
      <form [formGroup]="toolbarForm" class="toolbar-form">
        <mat-form-field appearance="outline">
          <mat-label for="sort">Sort By</mat-label>

          <mat-select formControlName="sortBy" id="sort" name="sort">
            <mat-option value="date">Date</mat-option>
            <mat-option value="priority">Priority</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label for="filter">Filter Todos</mat-label>

          <mat-select formControlName="filter" id="filter" name="filter">
            <mat-option value="all">All</mat-option>
            <mat-option value="uncompleted">Uncompleted</mat-option>
            <mat-option value="completed">Completed</mat-option>
          </mat-select>
        </mat-form-field>
      </form>
    </div>

    <app-todo
      *ngFor="
        let todo of todos
          | filter : toolbarForm.value.filter
          | sort : toolbarForm.value.sortBy
      "
      [todo]="todo"
    >
    </app-todo>
  </div>
</ng-container>
