.mat-card {
  background: #4d4c4c;
  box-shadow: 0 0 3rem #000;
  color: #ffffffb3;
  margin: 1rem auto;
  width: 90vw;

  h2 {
    font-size: 1.8rem;
  }

  p {
    font-size: 1.2rem;
    margin-top: 1em;
  }

  span {
    color: #a262bd;
    font-weight: bold;
  }
}
