.mat-card {
  box-shadow: 0 0 3rem #000;
  color: #ffffffb3;
  display: flex;
  justify-content: space-between;
  margin: 0.6rem 0;
}

.todo {
  &__task.mat-card-title {
    margin: 0;
  }

  &__priority.mat-card-subtitle {
    margin: 0.5rem 0 0 0;
  }

  &__date.mat-card-subtitle {
    margin: 0;
  }
}

.actions {
  &.mat-card-actions {
    align-items: center;
    display: flex;
    margin: 0;
    padding: 0;
  }

  &__btn.mat-icon-button {
    height: auto;
    line-height: unset;
    width: fit-content;
  }
}
