.mat-card {
  box-shadow: 0 0 3rem #000;
  color: #ffffffb3;
  display: flex;
  justify-content: space-between;
  margin: 0.6rem 0;

  &-subtitle {
    margin-bottom: 0.3rem;
  }

  &-actions {
    gap: 1em;
    padding: 1em;
  }

  .mat-icon {
    cursor: pointer;
  }

  .completed {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
