<mat-card>
  <div class="todo">
    <mat-card-title class="todo__task">
      {{ todo.task }}
    </mat-card-title>
    <mat-card-subtitle class="todo__priority">
      {{ todo.priority | convertPriority }}
    </mat-card-subtitle>
    <mat-card-subtitle class="todo__date">
      {{ todo.addedAt | date }}
    </mat-card-subtitle>
  </div>

  <mat-card-actions class="actions">
    <button (click)="toggleComplete(todo)" mat-icon-button class="actions__btn">
      <ng-container *ngIf="todo.completed; else uncompleted">
        <mat-icon *ngIf="todo.completed" color="accent">done</mat-icon>
      </ng-container>

      <ng-template #uncompleted>
        <mat-icon *ngIf="!todo.completed" color="warn">close</mat-icon>
      </ng-template>
    </button>

    <button (click)="editTodo(todo)" mat-icon-button class="actions__btn">
      <mat-icon color="accent">edit</mat-icon>
    </button>

    <button (click)="deleteTodo(todo)" mat-icon-button class="actions__btn">
      <mat-icon color="warn">delete</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>
