<mat-card>
  <div class="todo-info">
    <mat-card-title>{{ todo.task }}</mat-card-title>
    <mat-card-subtitle>{{ todo.priority }}</mat-card-subtitle>
    <mat-card-subtitle>{{ todo.addedAt | date }}</mat-card-subtitle>
  </div>

  <mat-card-actions>
    <div class="completed">
      <button mat-icon-button (click)="toggleComplete(todo)">
        <ng-container *ngIf="todo.completed; else uncompleted">
          <mat-icon *ngIf="todo.completed" color="accent">done</mat-icon>
        </ng-container>

        <ng-template #uncompleted>
          <mat-icon *ngIf="!todo.completed" color="warn">close</mat-icon>
        </ng-template>
      </button>
    </div>
  </mat-card-actions>
</mat-card>
