<mat-card>
  <mat-card-title>Add Todo</mat-card-title>
  <mat-card-subtitle>Enter new tasks and it's priority</mat-card-subtitle>

  <mat-card-content>
    <form [formGroup]="todoForm" (ngSubmit)="addTodo()">
      <mat-form-field appearance="fill">
        <mat-label for="task">Task</mat-label>

        <input
          formControlName="task"
          matInput
          id="task"
          name="task"
          placeholder="Enter new task..."
        />
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label for="priority">Priority</mat-label>

        <mat-select formControlName="priority" id="priority" name="priority">
          <mat-option [value]="1">High</mat-option>
          <mat-option [value]="2">Medium</mat-option>
          <mat-option [value]="3">Low</mat-option>
        </mat-select>
      </mat-form-field>

      <button
        [disabled]="todoForm.invalid"
        mat-raised-button
        color="accent"
        type="submit"
      >
        <mat-icon>add</mat-icon>
        Add Todo
      </button>
    </form>
  </mat-card-content>
</mat-card>
